<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mo9.clientdemo"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 最低android版本:2.2 -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" /> 

    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" >
        <!-- 启动界面 -->
        <activity android:name=".MainActivity"  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 如果你使用SDK接入，请你在的AndroidManifest.xml文件中添加如下Activity配置. -->
	    <activity 	android:name="com.mokredit.payment.MktPayment"
	             	android:configChanges="keyboardHidden|orientation"
					android:screenOrientation="portrait"
					android:windowSoftInputMode="adjustResize"/>
    </application>
    <!-- 允许读写扩展存储设备 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>