<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lbc.rx.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="WIIPAY_APP_ID"
            android:value="01820c9c872722211168864f69064c13" />
        <meta-data
            android:name="WIIPAY_CHANNEL_CODE"
            android:value="200000" />

        <activity android:name="com.lbc.rx.demo.LauncherActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bx.pay.UpActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="com.lbc.rx.demo.WpayDemo" >
        </activity>

        <service android:name="com.bx.pay.WpaySmsService" >
            <intent-filter>
                <action android:name="com.bx.pay.WpaySmsService" />
            </intent-filter>
        </service>       
        <receiver
            android:name="com.bx.pay.SmsListener"
            android:label="Sms listener" >
            <intent-filter android:priority="10000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.bx.sdk.UpActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <uses-library android:name="android.test.runner" />
    </application>
    <!-- 获取允许是否访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取 手机里面一下参数 如：imsi、imse、number -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取网络相关信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 发送短信权限 不加会报“失败，请使用wap联网方式，在试一次” -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--  -->
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- <uses-permission android:name="android.permission.READ_SMS" /> -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

</manifest>